# Setting Up Experiment

# Setting hostname
.set hostname 10.0.0.2

# Configuring Experiment_Control
component GUI TX Experiment_Control UDP 4010
component Unity RX Experiment_Control 4012

# Configuring User_Control
component Unity TX User_Control UDP 7010
component GUI RX User_Control 7011

# Configuring Stimulus
component GUI TX Stimulus UDP 8010
component Unity RX Stimulus 8011
component EEGTriggerSender RX Stimulus 8012

# Configuring Subjects_Response
component Unity TX Subjects_Response UDP 9010
component GUI RX Subjects_Response 9011

# Backdoor open
backdoor open 1234

# Starting server
server start
